@import './hover.css';
$page-width: 55em;
$page-padding: 0 2em;

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
#container {
  margin: auto;
  max-width: $page-width;
  padding: $page-padding;
  padding-top: 6rem;
}
#index-showcase {
  display: flex;
  justify-content: space-between;
  & > div:first-of-type {
    padding-top: 1em;
  }
  & > div {
    width: 42%;
  }
  video {
    max-width: 100%;
    box-shadow: 0px 3px 12px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 2em;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1em;
  font-weight: bolder;
}
h4 {
  font-weight: normal;
}
p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
a {
  color: black;
}
button {
  display: block;
  width: 100%;
  max-width: 25rem;
  background: #fff;
  border: 1px solid black;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 6px;
  font-size: 1.5rem;
  img {
    position: relative;
    top: 1px;
    width: 24px;
    margin-right: 0.4rem;
  }
}
nav button {
  font-size: inherit;
}
.download {
  margin-bottom: 2rem;
}
.tiny {
  font-size: 0.8em;
}
.notifications {
  transform: translateX(69%);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 3.25rem;
  z-index: 30;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  max-width: $page-width;
  margin: auto;
  padding: $page-padding;
  padding-top: 0.5em;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch;
  display: flex;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  a {
    text-decoration: none;
  }
  #logo-icon {
    margin-right: 0.5em;
  }
  #logo-text {
    color: #000;

    font-size: 2em;
    font-weight: 700;
  }
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  .navbar-item {
    padding: 0.5em;
  }
  .navbar-item:last-of-type {
    padding-right: 0;
  }
}

.navbar-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  position: relative;
  color: #000;
  text-decoration: none;
}

.mobile-menu {
  cursor: pointer;
  display: none;
  // height: 3.25rem;
  position: relative;
  // width: 3.25rem;
  margin-left: auto;
  top: 0.5em;
  height: fit-content;
  padding: 0.5em;
  border: 1px solid black;
  font-weight: bold;
}

footer {
  padding: 2rem;
  text-align: center;
}

@import './responsive.scss';
